# JIRA ENVIRONMENTS
JIRA_BASE_URL=atlasian_base_URL
JIRA_EMAIL=jira_email
JIRA_API_TOKEN=api_token

# PROVIDER
LLM_PROVIDER=deprecated_provider

# OLLAMA ENVIRONMENTS (RUNNING LOCAL LLM)
OLLAMA_MODEL=llm_model
OLLAMA_BASE_URL=url_llm
